<div clas="row">
  <div class="col-md-6">
    <h1>Welcome to Questions</h1>
  </div>
  <div class="col-md-6">
    <h1>Resolved?</h1>
  </div>
</div>
<% @questions.each do |question| %>
  <div class="row">
    <div class="col-md-6">
    <h4><%= link_to question.title, question %></h4>
    </div>
    <div class="col-md-6">
    <h4><%= question.resolved ? "yes": "no" %></h4>
  </div>
  </div>
<% end %>
