<h1>About Bloccit</h1>
<p>This was created by Javier with the help of ruby on rails</p>
<div class="button">
<%= link_to "FOLLOW ME", "https://github.com/javierforero", class: "social-btn", target: "_blank"%>
</div>
