@import url(http://fonts.googleapis.com/css?family=Montserrat);

.social-btn {
  display: block;
  margin: 0 auto;
  border: 2px solid #1C1BBD;
  font-size: 15px;
  padding: 25px 5px;
  color: #1C1BBD;
  height: auto;
  width: 20%;
  text-align: center;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  letter-spacing: 2px;
  font-style: bold;
  font-size: 1.5em;
  min-width: 130px;
  text-decoration: none;
}

.social-btn:hover{
   text-decoration: none;
   background: #1C1BBD;
   color: white;
}
